.people {
  .anticon-loading {
    position: absolute;
    display: inline-block;
    opacity: 1;
    align-self: center;
    top: 50%;
    color: #064b91;
  }
  .gx-app-module {
    margin-top: 3px;
  }
}
